.header-container{
    height: 70px;
    border-bottom: 2px solid #1374f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1rem;
}

.logo{
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1374f4;
}

.profile-img{
    height: 60px;
}

.profile-img img{
    height: 90%;
    border-radius: 50%;
}